$dark: #3D3D4F;
$purple: #46025E;
$gray: #F0F0F0;
$lightBlue: #77B6FA;
$lightOrange: #F6BB42;

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-box-shadow: none;
}

a,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #F9F9F9;
    color: $dark;
}


#header {
    background-color: transparent;
    padding-left: 0;
    span.logo {
        left: 0;
        width: 288px;
        background-color: #F0F0F0;
        height: 100%;
        top: 0;
    }
    .button  {
        border: none;
    }

    #btn-deploy {
        background-color: $purple;
    }
}
